# General
*.exe
*.zip*
.DS_Store
compiled/

# Backups
*~
.\#*
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
\#*

# CMake
.cache/
build/
compile_commands.json

# Rust
Cargo.lock
target/
