# -*- conf -*-


# General
*.exe
*.zip*
.DS_Store
compiled/

# Backups
*~
,*
.\#*
.~lock.*
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
\#*

# CMake
.cache/
build/
compile_commands.json

# IDEs
.idea/
.vs/
.vscode/

# Rust
Cargo.lock
target/

# OCaml
_build/
